<!-- New x01 Dialog -->
<div id="newX01Dialog" class="hide well" >
    <h3>New x01 Game</h3>
    <form class="form ">
        <div class="row-fluid">
            <fieldset class="span6">
                <legend>Configuration</legend>
                <label for="startScore">Score</label>
                <input class="text input-small" type="number" min="2" id="startScore" placeholder="x01" value="501">
                &nbsp;&nbsp;
                <label class="nbLeg" for="nbLeg">Nb. Leg(s)</label>
                <input class="text input-mini nbLeg" type="number" min="1" id="nbLeg" placeholder="How many Leg(s) ?" value="1">
                &nbsp;&nbsp;
                <label class="nbSet" for="nbSet">Nb. set(s)</label>
                <input class="text input-mini nbSet" type="number" min="1" id="nbSet" placeholder="How many set(s) ?" value="1">
            </fieldset>
        
            <fieldset class="players span6">
                <legend>
                    Players
                    &nbsp;
                    <a id="btnX01AddPlayer" class="btn btn-mini btn-primary"><i class="icon-white icon-plus"></i> Add</a>
                    &nbsp;
                    <a id="btnX01CreatePlayer" class="btn btn-mini btn-success"><i class="icon-white icon-plus-sign"></i> Create</a>
                </legend>

                <table class="table table-striped table-bordered playersTable">
                    <thead>
                        <tr>
                            <th class="textRight">#</th>
                            <th width="*">Name</th>
                            <th>Computer</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div class="form-actions">
            <button type="submit" id="btnRunX01" class="btn btn-primary"><i class="icon-play icon-white"></i> Launch</button>
        </div>
    </form>
</div>