// Main CSS
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Dartboard Colors
@BoardDark:		#110e11;
@BoardLight:	#e6c696;
@BoardRed:		#9d1b25;	
@BoardGreen:	#1d652b;	

// Navbar
.navbar .navbar-inner .container a.brand {
	font-family: 'Gochi Hand', cursive;
	color: @white;
	font-weight: bolder;
	text-shadow: 0px 0px 2px #777;
}

ul.game-detail li.nav-header {
	font-size: 18px;
}
ul.game-detail li.set-detail {
	color: @grayLighter;
}

.nav-header strong {
	font-size: 16px;
}

// Body
#body {
	padding-top: 44px; 
	background-color: @BoardDark;
	background-image: url('/assets/images/dartboard-1.jpg');
}
@media (max-width: 979px) {
	#body {
		padding-top: 0px;
		background-color: @BoardDark;
		background-image: url('/assets/images/dartboard-1.jpg');
	}	
}

// Modal
/* fix modal position for 480px devices */
@media (max-width: 678px) {
    .modal.fade.in {
        top: 10px;
  }
}

#newX01Dialog form {
	margin-bottom: 0px;

	label.radio {
		padding-top: 0px !important;
	}
}
.modal-header {
	.box-shadow(inset 0px 1px 48px rgba(0, 0, 0, 0.25));
}

// Custom mixins
.whiteBox() {
	.border-radius(4px);
	background-color: whiteSmoke;
}

.textLeft {
	text-align: left !important;
}
.textCenter {
	text-align: center !important;
}

.textRight {
	text-align: right !important;
}

// Divs
#history {
	h1 {
		.whiteBox();
	}
	.hGames {
		.whiteBox();
	}
	ul {
		.whiteBox();
	}
	.tab-pane .row-fluid > div {
		.whiteBox();
	}
	.tab-pane h3 {
		.whiteBox();	
	}
}


div.admin {
	.whiteBox();
	padding: .5em;
}

div.player-head {
	.whiteBox();
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: 1px;

	h4 {
		margin-top: 0px;
		.badge-primary {
			background-color: @btnPrimaryBackground;
		}
	}
	div.progress {
		.box-shadow(inset 0px 1px 8px rgba(0, 0, 0, 0.75));
		margin-bottom: 0px;
	}
}
@media (max-width: 979px) {
	div.player-head {
		display: none;
	}
}

div.players {
}


// Stats
div.stats {
	margin-top: .5em;
	margin-bottom: .5em;
	padding-left: 1em;
	.whiteBox();

	h5 {
		color: @gray;
		text-shadow: 0 1px 1px @grayLight;
	}
	div.statsEntries {
		div.stat {
			margin-left: 0px !important;
			label {
				text-shadow: 0 1px 0 @white;
				color: @grayLight;
				text-transform: none;
				display: inline-block;
				padding-right: 1em;
				font-weight: bold;
			}
			span {
				color: @gray;
				padding-right: 1em;
				font-style: italic;
				font-weight: bold;
			}
		}
	}
}
@media (max-width: 979px) {
	div.stats {
		display: none;
	}
}

div.data {
	overflow: auto;
}

.score-left-container {
	position: fixed;
	bottom: 2px;

	div.score-left {
		text-align: center;
		font-size: 7em;
		font-weight: bold;
		padding: .35em 0;

		background-color: @BoardDark;
		color: @BoardLight;
		-webkit-border-radius: 9px;
		text-shadow: 4px 4px 8px fadeout(@BoardLight, 50%);
	}
}
@media (max-width: 979px) {
	.score-left-container {
		display: none;
	}
}

#computerThrowDialog .modal-body {
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;

	
	.wished > div, .done > div  {
  		.border-radius(9px);
		font-size: 1em;
		line-height: auto;
		padding-bottom: .5em;
		padding-top: .5em;
		margin-bottom: .25em;
	}

	.wished > div {
		.box-shadow(inset 2px 2px 16px rgba(0, 0, 0, 0.5));
		font-style: italic;
		color: @gray;
		background-color: @grayLighter;
	}
	.done > div {
		.box-shadow(4px 4px 16px rgba(0, 0, 0, .75));
	}

	.none{
		color: @grayDark;
		text-shadow: 0px 1px 2px rbga(0,0,0,0.5);
		background-color: @grayLighter;
	}
	.black{
		color: @BoardLight;
		background-color: @BoardDark;
		text-shadow: 0px 1px 2px rbga(0,0,0,0.5);
	}
	.white{
		color: @BoardDark;
		background-color: @BoardLight;
		text-shadow: 0px 1px 2px rbga(0,0,0,0.5);
	}
	.red{
		color: @BoardDark;
		text-shadow: 0px 1px 2px rbga(0,0,0,0.5);
		background-color: @BoardRed;
	}
	.green{
		color: @BoardLight;
		text-shadow: 0px 1px 2px rbga(0,0,0,0.5);
		background-color: @BoardGreen;
	}
}

// Table
@colorScore0x: #7f7f7f;
@colorScore5x: #667f63;
@colorScore6x: #4a7f42;
@colorScore7x: #375e6e;
@colorScore8x: #243d9d;
@colorScore9x: #1514cc;
@colorScore10x: #1000fb;
@colorScore11x: #1600eb;
@colorScore12x: #1f00db;
@colorScore13x: #2a00cc;
@colorScore14x: #3600bc;
@colorScore15x: #4300ac;
@colorScore16x: #50009d;
@colorScore17x: #5e068d;

.tableScore {
	thead tr th {
		text-align: center;
		font-weight: bold;
		background-color: @gray !important;
		color: @white;
	}

	.cell {
		text-align: center;
    	line-height: 24px;
    	font-size: 18px; 
		padding: 4px 5px;
		border: thin solid #CCC;
		background-color: whiteSmoke;
	}
	.cellDartsHide {
		background-color: darken(@grayLighter,5%);
		color: @grayLighter;
	}
	tbody {
		.cellScore {
		}
		.cellStatus {
			font-weight: bold;
		}
		.cellDarts {
			color: @grayLight;
			background-color: darken(@grayLighter,5%) !important;
		}
		.cellInput {
			form {
				margin-bottom: 0px;
			}
		}

		.needEdit{
			border: 2px solid @red;
		}
	}
	.tableRowInput {
		.cellDartsHide {
			height: 38px;
		}
	}
}


.normal {
}
.win{
	background-color: lighten(@green,40%) !important;
}
.broken {
	background-color: lighten(@red,40%) !important;
}

// Inputs
.cellInput input.playerInput[type="number"] {
	background-color: @yellow;
	text-align: center;
	height: 32px;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0px;
}
.cellInput input.playerInput[disabled] {
	background-color: @inputDisabledBackground;
}

@colorScore18x: #6b0e7f;
.score0x, .score1x, .score2x, .score3x, .score4x {
	color: @colorScore0x;
}
.score5x {
	color: @colorScore5x;
}
.score6x {
	color: @colorScore6x;
}
.score7x {
	color: @colorScore7x;
}
.score8x {
	color: @colorScore8x;
}
.score9x {
	color: @colorScore9x;
}
.score10x {
	color: @colorScore10x;
}
.score11x {
	color: @colorScore11x;
}
.score12x {
	color: @colorScore12x;
}
.score13x {
	color: @colorScore13x;
}
.score14x {
	color: @colorScore14x;
}
.score15x {
	color: @colorScore15x;
}
.score16x {
	color: @colorScore16x;
}
.score17x {
	color: @colorScore17x;
}
.score18x {
	color: @colorScore18x;
}