<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">OpenDarts v2</a>
            <ul class="nav">
                <li><a id="btnNewX01" href="#">x01</a></li>
                <li><a id="btnQuick" href="#">Quick Game</a></li>
                
            </ul>
            <ul class="nav pull-right">
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</div>