<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">OpenDarts v2</a>
            <form class="navbar-form" action="#">
                <button id="btnNewX01" class="btn btn-primary">x01</button>
                <button id="btnQuick" style="display: none;" class="btn btn-warning">Quick Game</button>
                <a href="#help" class="btn btn-inverse pull-right">Help</a>
            </form>
        </div>
    </div>
</div>