@* Libs *@
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>

<script src="@routes.Assets.at("javascripts/lib/bootstrap-notify.js")"></script>
<script src="@routes.Assets.at("javascripts/lib/jquery.toggle.buttons.js")"></script>

@* Commons *@
<script src="@routes.Assets.at("javascripts/i18n.js")"></script>
<script src="@routes.Assets.at("javascripts/game.js")"></script>
<script src="@routes.Assets.at("javascripts/template.js")"></script>

@* X01 *@
<script src="@routes.Assets.at("javascripts/x01/x01-entry.js")"></script>
<script src="@routes.Assets.at("javascripts/x01/x01-leg.js")"></script>
<script src="@routes.Assets.at("javascripts/x01/x01-set.js")"></script>
<script src="@routes.Assets.at("javascripts/x01/x01-game.js")"></script>
<script src="@routes.Assets.at("javascripts/x01/x01.js")"></script>
<script src="@routes.Assets.at("javascripts/x01/x01-stats.js")"></script>
<script src="@routes.Assets.at("javascripts/x01/x01-charts.js")"></script>

@* Main *@
<script src="@routes.Assets.at("javascripts/main.js")"></script>