<!-- 
	game: current game
	stats: game stats
	players: players (game ordered)
	winner: the game winner
-->
<script id="GameStats" type="text/html">
	<% 	var player; %>
	<%	var clazz; %>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
	<%	for (var i=0; i< players.length; i++) { %>
	<%		player = players[i]; %>
	<%		clazz = "textRight"; %>
	<%		if (i%2===1) { %>
	<%			clazz = "textLeft"; %>
				<td class="textCenter"><%=game.getPlayerWin(players[i-1])%> - <%=game.getPlayerWin(player)%></td>
	<%		}  %>
	<%		if (winner.uuid === player.uuid) { %>
				<td class="<%=clazz%>"><strong>
	<%			if (i===0) {%>
					<i class="icon-asterisk"></i>
	<%			} %>
					<%=player.getName()%>
				</strong></td>
	<%		} else { %>
				<td class="<%=clazz%>">
	<%			if (i===0) { %>
					<i class="icon-asterisk"></i>
	<%			} %>
					<%=player.getName()%>
				</td>
	<%		} %>
	<%	} %>
			</tr>
		</thead>
		<tbody>
	<%	for(var key in stats) { %>
	<%		clazz = "textRight"; %> 
			<tr>
	<%		for (var k=0; k<players.length; k++) { %>
	<%			player  = players[k]; %>
	<%			if (k%2===1) { %>
	<%				clazz = "textLeft"; %>
				<td class="textCenter"><%=getStatLabel(x01.stats.game, key)%></td>
	<%			} %>
				<td class="<%=clazz%>"><%=stats[key][player.uuid]%></td>
	<%		} %>
	<%	} %>
		</tbody>
	</table>
</script>
<!-- 
	game: the current game
-->
<script id="GameHistory" type="text/html">
	<%	var set; %>
	<%	var leg; %>
	<h1><%=game.getName()%></h1>
	<div class="hGames ">
		<%=game.getTableStats()%>
	</div>

	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
	<%	for (var i=0; i<game.getSets().length; i++) { %>
	<%		set = game.getSets()[i]; %>
			<li class=""><a href="#<%=set.uuid%>" data-toggle="tab"><%=set.getName()%></a></li>
	<%	} %>
		</ul>
		<div class="tab-content">
	<%	for(var j=0; j<game.getSets().length; j++) { %>
	<%		set = game.getSets()[j]; %>
            <div class="tab-pane" id="<%=set.uuid%>">
                <div class="row-fluid ">
                    <div class="span8">
                    	<h2><%=set.getName()%></h2>
                    </div>
                    <div class="span4">
                    	<%=set.getTableStats()%>
                    </div>
                </div>
	<%		for(var k=0; k<set.getLegs().length; k++) { %>
	<%			leg = set.getLegs()[k]; %>
				<h3><%=leg.getName()%></h3>
				<div class="row-fluid">
					<div class="span8">
						<%=leg.getTableScore(game.getPlayers(), false)%>
					</div>
					<div class="span4">
                    	<%=leg.getTableStats()%>
					</div>
				</div>
	<%		} %>
            </div>
	<%	} %>
</script>