<!-- 
	set: current set
	stats: set stats
	players: players (game ordered)
	firstPlayer: the set first player
	winner: the set winner
-->
<script id="SetStats" type="text/html">
	<% 	var player; %>
	<%	var clazz; %>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
	<%	for (var i=0; i< players.length; i++) { %>
	<%		player = players[i]; %>
	<%		clazz = "textRight"; %>
	<%		if (i%2===1) { %>
	<%			clazz = "textLeft"; %>
				<td class="textCenter"><%=set.getPlayerWin(players[i-1])%> - <%=set.getPlayerWin(player)%></td>
	<%		}  %>
	<%		if (winner.uuid === player.uuid) { %>
				<td class="<%=clazz%>"><strong>
	<%			if (firstPlayer.uuid=== player.uuid) {%>
					<i class="icon-asterisk"></i>
	<%			} %>
					<%=player.getName()%>
				</strong></td>
	<%		} else { %>
				<td class="<%=clazz%>">
	<%			if (firstPlayer.uuid=== player.uuid) { %>
					<i class="icon-asterisk"></i>
	<%			} %>
					<%=player.getName()%>
				</td>
	<%		} %>
	<%	} %>
			</tr>
		</thead>
		<tbody>
	<%	for(var key in stats) { %>
	<%		clazz = "textRight"; %> 
			<tr>
	<%		for (var k=0; k<players.length; k++) { %>
	<%			player  = players[k]; %>
	<%			if (k%2===1) { %>
	<%				clazz = "textLeft"; %>
				<td class="textCenter"><%=getStatLabel(x01.stats.set, key)%></td>
	<%			} %>
				<td class="<%=clazz%>"><%=stats[key][player.uuid]%></td>
	<%		} %>
	<%	} %>
		</tbody>
	</table>
</script>
